* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav .navegacao {
    display: flex;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 15px;
}

nav .navegacao li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
}

nav .navegacao li a:hover {
    text-decoration: underline;
}

nav .perfil a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}


.hero {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 50px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .cta {
    background-color: #e50914;
    color: #fff;
    padding: 10px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.hero .cta:hover {
    background-color: #b20710;
}


.carousel-section {
    align-items: center;
    margin: 40px 0;
    text-align: center;
}

.carousel-section h2 {
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
}


.carousel-item img {
max-height: 500px;
object-fit: contain;
margin: auto;
}


footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}


.carousel-section,
.carousel-control-next-icon {
    background-color: #fcf7f7;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: #222;
}


